h3{
    font-size: 16px;
    line-height: 19px;
    color: white;
}
h3 span{
    color: #FFC700;
}
h1{
    font-family: 'Emilys Candy', cursive;
    color: #FFC700;
    font-weight: 400;
    font-size: 64px;
    line-height: 80px;
}
p{
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 72px;
    color: white;
    opacity: 0.7;
}